lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
yarn-error.log
node_modules/
coverage/
tmp/
.nyc_output/
uploads/

# Git Stats
git_stats/

# Yarn offline packages
yarn-offline/
package-lock.json
fonts.txt

.eslintcache
.idea
